# Compressed #
##############
# git has its own built in compression methods
*.zip

# IDE's #
#########
.vscode

# Hugo #
########
/jbeattie5768.github.io/public/
/jbeattie5768.github.io/.hugo_build.lock
